@media (min-width:801px) {
    #header-navbar .nav-item .nav-link {
        color: #008080!important;
        border: white 2px solid !important;
        border-radius: 2px;
        margin: 5px;
        background:white;
        border-radius: 20px;
    }

    #header-navbar .nav-item .nav-link:hover {
        color:black !important;
        border: white 2px solid !important;
    }
}
@media (max-width:769px)  {
    #header-navbar .nav-item .nav-link{
        margin-top: 5px!important;
        text-align: center!important;
        color:white !important;
        border: white 2px solid!important;
        border-radius: 2px;
        margin: 5px;
        background: #008080;
        border-radius: 20px;
    }
   
}